
.idea/.name

*.xml

*.iml

bower_components/backbone/.bower.json

bower_components/backbone/.npmignore

bower_components/backbone/bower.json

bower_components/backbone/CNAME

bower_components/backbone/component.json

bower_components/backbone/CONTRIBUTING.md

*.log

*.md

*.txt

*.yml

*.py

*.sh

*.rb

bower_components/handlebars/handlebars.runtime.amd.min.js

bower_components/handlebars/composer.json

bower_components/handlebars/component.json

*.gemspec

bower_components/handlebars/handlebars.amd.js

bower_components/handlebars/handlebars.amd.min.js

bower_components/handlebars/handlebars.js.nuspec

bower_components/handlebars/handlebars.runtime.amd.js

bower_components/bootstrap/LICENSE

bower_components/bootstrap/package.json

bower_components/bootstrap/test-infra/npm-shrinkwrap.canonical.json

bower_components/handlebars/.bower.json

bower_components/handlebars/bower.json

bower_components/bootstrap/.bower.json

bower_components/backbone/package.json

bower_components/backbone/LICENSE

bower_components/backbone/index.js

bower_components/backbone/index.html

bower_components/bootstrap/bower.json

includes/bootstrap/bower.json

includes/backbone/.bower.json

includes/backbone/.npmignore

models/landingPageModel.js
