<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Orbital Platform .:</title>
    <!-- included libs -->
    <script type="text/javascript" src="../includes/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../includes/handlebars/handlebars.runtime.min.js"></script>
    <script type="text/javascript" src="../includes/underscore/underscore.js"></script>
    <script type="text/javascript" src="../includes/backbone/backbone.js"></script>
    <link rel="stylesheet" type="text/css" href="../includes/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../includes/bootstrap/dist/js/bootstrap.min.js">
    <!-- end included libs -->
</head>
<body>

<header>Header</header>
<nav>Nav</nav>
<section id="bodyContent">Content
    <article id="forums"></article>
    <article id="posts"></article>
</section>
<aside>contact / login</aside>
<footer>footer</footer>

</body>
</html>